body {
    font-family: 'Patrick Hand', cursive; /* Updated to handwritten style */
    background: url('/uploads/notebook.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.0);
    border-radius: 8px;
}

header {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    font-size: 4em;
}

form {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#todo-input {
    flex: 1;
    padding: 10px;
    font-size: 1em;
    
}

button {
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer; /* Change cursor to pointer for clickable items */
}

li.completed span {
    text-decoration: line-through;
    color: #888;
}

@media (max-width: 600px) {
li span {
    font-size: 2em; /* Adjust this value to your preference */
    font-weight: bold;
}
}

.delete-btn {
    background: none;
    border: none;
    color: red;
    font-size: 1.2em;
    cursor: pointer;
}
